.btn-header button{
    width: 205px;
    padding: 14px 33px;
    background-color: transparent;
    border: none;
    color: $textColor;
    transition: 1.1s;
    cursor: pointer;
    border-radius: 9px;
        background: #F32C6D 10.12%, ;
        color: #fff;
    &:hover{
        background: #fff;
        color: #F32C6D;
        border: 1px solid red ;
    }
}


.btn{
    background: transparent;
    border: none;
    margin-left: 10px;
    
}
.hv{
    transition: 0.5s;
    background-color: $secondaryColor;
    color: white;
    border-radius: 250px;
    background: #77B2D3;
}

.site-hero{

    
    &__left{
        &__btn1{
            &:hover{
                @extend .hv;
            }
            @extend .btn;
            padding:14px 35px; 

        }
        &__btn2{
            @extend .btn;
            padding:14px 23px; 
            &:hover{
                @extend .hv
            }
        }
        &__btn3{
            @extend .btn;
            padding: 14px 41px;
            &:hover{
                @extend .hv
            }
        }
        
    }
}
  